/*this css is for about.css*/ 
/* font-family: 'Roboto', sans-serif;* font-family: 'Fruktur', cursive;*/
nav li{
    list-style-type: none;
    display: inline;
    padding-right: 20px;
}
body{
    background-color: rgb(176, 194, 218);
    font-family: 'Roboto', sans-serif;
    margin: 10px 15%;
    color: black;
}

#main-nav {
    font-variant:all small-caps;
    font-size: 2.25;
        }
    
    #main-nav a:link{
        color: darkred;
    }
    
    #main-nav a:visited{
    
        color: gold;
    }
    
    #main-nav a:hover{
    
        color: rgb(177, 87, 230);
    }

h1, h2{
    color: rgb(92, 137, 233);
    font-size: 3rem;
font-variant: small-caps;
font-family: 'Fruktur', cursive;
} 

p{
color: rgb(0, 0, 0); 
font-size: 1.75rem;
}
ol{
    font-size: 1.75rem;
    color: rgb(12, 12, 12);
    
}


.me{
    max-width: 45%;
    margin-right: 20px;
    border:4px rgb(0, 26, 255) solid;
    padding: 16px;
    border-radius: 50%;
    float: left;
    shape-outside: circle();
}

hr{
    clear:both
}
.faves{
    float: right;
    width: 40%;
    margin-left: 85px;
 }

@keyframes slide{
    0% {
        transform: translate3d(0px, 0px, 0px);
    }

    50% {
        transform: translate3d(800px, 0px, 0px);
    }

    100% {
        transform: translate3d(0px, 0px, 0px);
    }
}

.me{
    animation: slide 10s infinite;
}

.me{
    transition: all 4s ;
}

h1,
h2,
h3{
    transition:all 4s;
}
