

/*this css is for the index.css*/

body{
    background-color: rgb(202, 172, 131);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }


      #main-nav {
font-variant:all small-caps;
font-size: 1.25;
    }

#main-nav a:link{
    color: darkred;
}

#main-nav a:visited{

    color: gold;
}

#main-nav a:hover{

    color: rgb(177, 87, 230);
}
header{

    height: 60vh;
    background-image: url(/img/dillon-austin-77v4AkZaqDw-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
background-position: center;
}

    h1, h2 {
   font-family: Georgia, 'Times New Roman', Times, serif;
   color: blueviolet;
   font-variant: small-caps;
}

h1{
    font-size: 2.75rem;
}

h2 {
    font-size: 2.5rem;
}
p {
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 1.75rem; 
color: rgb(9, 171, 247);
}
.journey-intro{
color: rgb(7, 177, 245);
}