

/*this css is for about.css*/ 
/* font-family: 'Roboto', sans-serif;* font-family: 'Fruktur', cursive;*/

body{
    background-color: rgb(0, 0, 0);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }


      #main-nav {
font-variant:all small-caps;
font-size: 2.25;
    }

#main-nav a:link{
    color: darkred;
}

#main-nav a:visited{

    color: gold;
}

#main-nav a:hover{

    color: rgb(177, 87, 230);
}

    h1, h2 {
   font-family: Georgia, 'Times New Roman', Times, serif;
   color: rgb(255, 255, 255);
   font-variant: small-caps;
}

nav li{
    list-style-type: none;
    display: inline;
    padding-right: 20px;
}

h1{
    font-size: 2.75rem;
}

h2 {
    font-size: 2.5rem;
}

p {
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 1.75rem; 
color: rgb(99, 55, 156);
}

.journey-intro{
color: rgb(255, 255, 255);
}

ul{
    color: white;
}
